#title {
  background-color: rgba(133, 165, 157, 0.5);
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  border-radius: 10px;
}
#case {
  margin-left: 10%;
  margin-right: 10%;
}

.underline-turquoise {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: rgba(133, 165, 157, 0.5);
  text-underline-offset: 10px;
}

.text-turquoise {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #85a59d;
  text-transform: uppercase;
}

.center {
  text-align: center;
}

li {
  color: #737373;
}

.p-bold {
  font-weight: 500;
}

#features p {
  margin-left: 10px;
  margin-right: 10px;
}

#sketches img {
  width: 49%;
  margin: 0.5%;
}

.wireframe-1 {
  width: 48.75%;
  margin: 0.5%;
}

.wireframe-1 img {
  width: 100%;
  border: 0.5px solid #444444;
}

#design-team {
  width: 30%;
}

#design-team img {
  border-radius: 10px;
  width: 100%;
}

#reflection {
  width: 65%;
  margin-right: 5%;
}

.lo-fi-flow {
  width: 100%;
}

.lo-fi-final {
  width: 50%;
}

.fourth {
  width: 23%;
  margin: 1%;
  text-align: center;
}

video {
  width: 60%;
  border-radius: 10px;
}

/*.underline-link:hover {
  color: #85a59d;
}*/

.underline-link {
  color: #85a59d;
  font-weight: 500;
}

#style-guide img,
.highfiImg {
  border-radius: 10px;
  width: 99%;
}
